.quiz {
  display: flex;
  flex-direction: column;
  background: #100623;
  position: relative;
}

.quiz-card {
  margin: 6rem 1rem 15rem 1rem;
  align-self: center;
  width: 22.3125rem;
  height: 37.9375rem;
  border: 1px solid grey;
  background: black;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;

  &__nav {
    display: flex;
    flex-direction: column;
  }

  &__top {
    position: relative;
    height: 10rem;

    &--prompt-cont {
      flex-direction: row;
      margin: 0.5rem 0.25rem;
    }

    &--prompt {
      font-size: 0.9rem;
      line-height: 1.36625rem;
      text-align: center;
      font-weight: 400;
      flex-wrap: wrap;
      width: 14rem;
      position: absolute;
      left: 4.25rem;
      top: 1.75rem;
    }

    &--icon-cont {
      width: 0.8rem;
      height: 0.8rem;
      position: absolute;
      left: 2rem;
      top: 1.85rem;
    }

    &--icon {
      width: 100%;
      height: 100%;
    }

    &--prog-cont {
      height: 1.5rem;
      width: 12rem;
      position: absolute;
      left: 5.25rem;
      top: 6rem;
    }

    &--prog {
      height: 100%;
      width: 100%;
    }
  }

  &__bottom {
    // margin: 5rem;
  }
}
