@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.header {
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $purple;

  &__nav {
    height: 15px;
  }

  &__logo {
    height: 74px;
  }
  &__profile {
    height: 20px;
  }
}
