// mixins
@use "./variables" as *;

@mixin flexDirection($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin h1 {
  font-family: "avenir";
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
}

@mixin h2 {
  font-family: "avenir";
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
}

@mixin h3 {
  font-family: "avenir";
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

@mixin p1 {
  font-family: "avenir";
  font-size: 16px;
  font-weight: 400;
  line-height: 21.86px;
}

@mixin p2 {
  font-family: "avenir";
  font-size: 14px;
  font-weight: 400;
  line-height: 21.86px;
}

@mixin p-bold {
  font-family: "avenir";
  font-size: 16px;
  font-weight: 800;
  line-height: 21.86px;
}

@mixin label {
  font-family: "avenir";
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.32px;
}
