// Brand Colours

$green: #5ac33a;
$light-green: #cdf260;
$dark-green: #006a4e;
$orange: #f5a305;

// crypto colours:

$pink: #ff5a87;
$purple: #100623;
$light-purple: #1f0a38;

//Responsive Breakpoints
$tablet-width: 450px;
$desktop-width: 1280px;
